---
title: Aristo
---

#aristo-section
  .container
    %a{:name=>'aristo'}
    %h2.section_header
      %hr.left.visible-desktop
        %span
          Aristo
        %hr.right.visible-desktop

    .row
      .offset2.span8
        %h3
          Cappuccino comes preloaded with Aristo, a fresh, bold theme.

        :markdown
          Made by legendary [Sofa](http://madebysofa.com) specifically for Cappuccino, since Aristo's launch in 2009 with Cappuccino 0.7 it has been ported to multiple other UI toolkits, a testament to its versatile strength.

          Two versions of Aristo exist and are included in Cappuccino 0.9.7 and above:

          * **Aristo 1** is meant to provide a solid "app" feeling in the browser, and to look good in any browser, whether it’s Firefox, Safari, or even Internet Explorer, Mac and Windows. It's the classic Cappuccino look.

          * **Aristo 2** is the successor which provides a lighter more "web-like" look. Built on the desire to "under promise and over deliver", Aristo 2 has a more humble appearance which can serve to make the advanced features of Cappuccino a pleasant surprise while at the same time not carrying over desktop expecations that may not translate well to the browser.

          ---

          <a class="btn btn-primary" href="showcase/">Aristo Showcase</a>

    .row
      .span12
        =link_to "/img/aristo-2.jpg" do
          %img{:class => "splash", :src => "/img/aristo-2.jpg", :style => "margin-top: 30px;"}
