= wrap_layout :layout do
  .container
    - if current_page.data.title
      %h2.section_header
        %hr.left.visible-desktop
        %span= current_page.data.title
        %hr.right.visible-desktop

    .row
      .offset2.span8.markdown
        = yield