@import "bootstrap";
@import "animate";

html {
  margin: 0;
}

body {
  position: relative;
  padding-top: 105px;
  background: white url(../img/furley_bg.png) repeat left top;
  -webkit-font-smoothing: antialiased;
  font-family: 'Lato', sans-serif !important;
  color: #333;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (min-device-pixel-ratio: 1.5) {
  body {
    background-image: url(../img/furley_bg@2x.png);
  }
}

.scrolltop {
  background-color: #F1F1F1;
  border: 1px solid darkGray;
  border-radius: 100px 100px 100px 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  display: none;
  height: 36px;
  opacity: 0.6;
  filter: alpha(opacity = 60);
  position: fixed;
  right: 2%;
  /*text-indent: -9999px;*/
  top: 50%;
  width: 36px;
  z-index: 33;
  span {
    position: relative;
    top: 7px;
    left: 10px;
  }
}

/* Old versions of IE patches */

.old-ie {
  #hero .carousel-inner .row {
    padding-left: 55px;
  }
  #box_login .box .social a.face_login span.text {
    font-size: 16px;
    margin: 8px 0 0 10px;
  }
}

/* Navbar
-------------------------------------------------- */

.navbar-fixed-top {
  margin-bottom: 0;
  &.scroll {
    opacity: 0.96;
  }
}

.navbar-inner {
  border-bottom: 0 none;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  filter: none;
  padding: 7px 0 8px 0;
  /*background: none repeat scroll 0 0 #242b35;*/
  background: url("../img/nav_bg.jpg") 0 0 repeat;
}

.navbar {
  .brand {
    font-size: 26px;
    text-shadow: none;
  }
  .nav {
    &.pull-right {
      top: 25px;
      /*margin-right: 40px;*/
    }
    > {
      li {
        > a {
          color: #F8F8F8;
          font-size: 15px;
          font-weight: bold;
          text-shadow: none;
          -webkit-transition: all .2s linear;
          -moz-transition: all .2s linear;
          -ms-transition: all .2s linear;
          -o-transition: all .2s linear;
          transition: all .2s linear;
          &:hover {
            color: #ccc;
          }
        }
        &.active {
          > a, &:hover > a {
            padding-bottom: 4px;
            -webkit-box-shadow: none;
            box-shadow: none;
            -moz-box-shadow: none;
            background: none;
            color: #fff;
          }
        }
      }
      .active > a {
        padding-bottom: 4px;
        -webkit-box-shadow: none;
        box-shadow: none;
        -moz-box-shadow: none;
        background: none;
        color: #fff;
        &:hover, &:focus {
          padding-bottom: 4px;
          -webkit-box-shadow: none;
          box-shadow: none;
          -moz-box-shadow: none;
          background: none;
          color: #fff;
        }
      }
    }
  }
}

.btn-dropnav {
  float: right;
  margin-left: 5px;
  margin-right: 5px;
  padding: 7px 10px;
  display: none;
  .icon-bar {
    background-color: #F5F5F5;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    display: block;
    height: 2px;
    width: 18px;
    + .icon-bar {
      margin-top: 3px;
    }
  }
}

.navbar .nav li.dropdown {
  &.open > .dropdown-toggle, &.active > .dropdown-toggle, &.open.active > .dropdown-toggle {
    background: none;
    color: #fff;
  }
}

.dropdown-menu li > a {
  &:hover, &:focus {
    background-color: #475B77 !important;
    text-decoration: none;
    color: #ffffff;
    background-image: -moz-linear-gradient(top, #475b77, #475b77);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#475b77), to(#475b77));
    background-image: -webkit-linear-gradient(top, #475b77, #475b77);
    background-image: -o-linear-gradient(top, #475b77, #475b77);
    background-image: linear-gradient(to bottom, #475b77, #475b77);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#475B77', endColorstr='#475B77', GradientType=0);
  }
}

.dropdown-submenu:hover > a {
  background-color: #475B77 !important;
  text-decoration: none;
  color: #ffffff;
  background-image: -moz-linear-gradient(top, #475b77, #475b77);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#475b77), to(#475b77));
  background-image: -webkit-linear-gradient(top, #475b77, #475b77);
  background-image: -o-linear-gradient(top, #475b77, #475b77);
  background-image: linear-gradient(to bottom, #475b77, #475b77);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#475B77', endColorstr='#475B77', GradientType=0);
}

/* Index
-------------------------------------------------- */

/* carousel section */

#hero {
  padding-top: 62px;
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, white 1%, #f9f9f9 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, white), color-stop(100%, #f9f9f9));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 1%, #f9f9f9 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 1%, #f9f9f9 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 1%, #f9f9f9 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, white 1%, #f9f9f9 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f9f9f9',GradientType=0 );
  /* IE6-9 */
  height: auto;
  padding-bottom: 50px;
  border-bottom: 1px solid #d1d2d4;
  box-shadow: 0px 3px 8px 0px #e7e7e7;
  .carousel-control {
    &.left {
      left: 0px;
      padding-right: 1px;
    }
    &.right {
      right: 0px;
    }
  }
  .carousel-inner .item {
    min-height: 280px;
  }
  .item {
    h1 {
      font-size: 24px;
      font-weight: bolder;
      margin-top: 10px;
    }
    p {
      font-size: 13px;
      color: #4E4E4E;
      line-height: 20px;
    }
    .btn {
      margin-top: 10px;
      font-weight: bolder;
    }
  }
}

/* introduction heading section*/

#intro {
  text-align: center;
  margin-top: 50px;
  h1 {
    width: 55%;
    font-size: 28px;
    margin: 0 auto;
    color: #252B34;
    font-weight: normal;
    text-shadow: white 2px 2px 1px;
  }
}

/* features section */

#features-section {
  .container! {}
  .feature {
    img.thumb {
      border: 3px solid #fff;
      border-radius: 5px;
      box-shadow: 0px 0px 0px 1px #bcbcbc;
      display: block;
      margin: 0 auto;
      -webkit-transition: all .2s linear;
      -moz-transition: all .2s linear;
      -ms-transition: all .2s linear;
      -o-transition: all .2s linear;
      transition: all .2s linear;
      &:hover {
        box-shadow: 0px 0px 7px 1px #8cbe5b;
      }
    }
    h3 {
      font-size: 22px;
      font-weight: bolder;
      color: #252b34;
      margin-top: 25px;
      /*text-align: center;*/
      padding-left: 35px;
      img {
        padding-top: 0px;
        margin-right: 5px;
        position: relative;
      }
    }
    p.description {
      color: #44474D;
      width: 85%;
      padding-left: 35px;
      min-height: 180px;
    }
    .btn {
      margin-top: 15px;
      margin-left: 35px;
    }
  }
}

/* pricing charts section */

#pricing {
  .section_header {
    margin-bottom: 70px;
    hr {
      width: 35%;
    }
  }
  .price_wrapper {
    background-color: #fafafa;
    border: 1px solid #d9d9d9;
    box-shadow: 0px 0px 5px 2px #E8E8E8;
    border-radius: 6px;
    width: 321px;
    min-height: 375px;
    position: relative;
    &.regular .header {
      background: url('../img/chart1.png') 0 0 no-repeat;
    }
    &.pro {
      width: 331px;
      margin: 0 auto;
      .header {
        background: url('../img/chart2.png') 0 0 no-repeat;
      }
    }
    section .btn {
      left: 35%;
    }
    .header {
      height: 98px;
      color: #fff;
      padding: 25px 0px 0px 40px;
      > span {
        font-size: 24px;
        font-style: italic;
      }
      .price {
        font-size: 20px;
        top: 25px;
        position: relative;
        font-weight: bold;
        span {
          font-size: 48px;
          margin-right: 10px;
        }
      }
    }
    .section {
      padding: 15px 30px;
      h3 {
        color: #535861;
        font-size: 17px;
        line-height: 22px;
      }
      ul.perks {
        list-style-type: none;
        margin-left: 0px;
        margin-top: 18px;
        li {
          padding: 3px 0px;
        }
        i {
          margin-right: 10px;
        }
      }
      .btn {
        position: absolute;
        bottom: 15px;
        left: 32%;
        font-weight: bold;
      }
    }
  }
}

/* testimonials section */

#testimonials {
  margin-top: 50px;
  .controls hr {
    border-top: 1px solid #BEC0C3;
    border-bottom: 2px solid white;
  }
  .phrases_wrapper {
    margin-bottom: 50px;
    padding: 20px 10px 0px 10px;
    .phrase {
      p.testimony {
        color: #3a3f46;
        font-style: italic;
        font-size: 21px;
        /*width: 60%;*/
        line-height: 28px;
        position: relative;
        float: left;
        span {
          font-family: "Georgia", Arial;
          font-size: 50px;
          color: #c9cbce;
          position: absolute;
          margin-left: 10px;
          margin-top: 15px;
        }
      }
      .pic {
        float: right;
        img {
          max-width: 55px;
          float: left;
          margin-right: 20px;
          position: relative;
          top: -6px;
        }
        .name {
          font-weight: bold;
          color: #2C3644;
        }
        .position! {}
      }
    }
  }
}

/* footer section */

#footer {
  background: url("../img/footer_bg.jpg") 0 0 repeat;
  min-height: 300px;
  margin-top: 100px;
  color: #fff;
  padding-top: 35px;
  h3 {
    margin-bottom: 25px;
  }
  .contact_us {
    .field {
      margin-bottom: 15px;
      .label_field {
        float: left;
        width: 80px;
      }
      input[type="text"] {
        background-color: #1a1f26;
        border: 1px solid #2f3743;
        border-radius: 5px;
        color: #fff;
      }
      textarea {
        background-color: #1a1f26;
        border: 1px solid #2f3743;
        border-radius: 5px;
        color: #fff;
        height: 65px;
      }
      select {
        width: 205px;
      }
    }
    button[type="submit"] {
      margin-left: 220px;
    }
  }
  hr {
    border-top: 1px solid black;
    border-bottom: 1px solid #363B43;
    margin: 8px 0px 0px 0px;
  }
  .copyright {
    h3 {
      float: left;
    }
    .social {
      margin-top: 8px;
      float: left;
      margin-left: 20px;
      border-radius: 22px;
      &:hover {
        background-color: #1A1E25;
      }
      &.fb {
        padding: 9px 15px 3px 15px;
      }
      &.tw {
        margin-top: 10px;
        padding: 11px 8px 5px 8px;
      }
      &.yt {
        padding: 8px 8px 5px 8px;
        margin-top: 10px;
      }
    }
    .copy p {
      margin-top: 20px;
    }
  }
}

/* section header */

.section_header {
  text-align: center;
  font-weight: bolder;
  color: #252b34;
  margin-top: 80px;
  position: relative;
  margin-bottom: 40px;
  &.left span {
    margin-left: 0px;
    text-align: left;
  }
  hr {
    border-top: 1px solid #BEC0C3;
    border-bottom: 2px solid white;
    width: 36%;
    position: absolute;
    &.left! {}
    &.right {
      right: 0px;
      top: 0px;
    }
  }
  span {
    width: 27%;
    display: block;
    margin: 0 auto;
  }
  small {
    margin-left: 20px;
    font-size: 16px;
    color: #7f8387;
    display: none;
  }
}

/* Responsive
-------------------------------------------------- */

/* Large desktop */
@media (min-width: 1200px) {
  .section_header small {
    display: inline-block;
  }

  #hero .carousel-inner .item {
    &.slide2 img {
      margin-top: 0px !important;
    }
  }

  footer .contact_us {
    input[type="text"], textarea {
      width: 270px;
    }
    button[type="submit"] {
      margin-left: 300px;
    }
  }
}

@media (min-width: 980px) {
  #pricing .price_wrapper.pro {
    position: relative;
    top: -20px;
    height: 420px;
    z-index: 9;
    box-shadow: 0px 0px 5px 4px #E8E8E8;
  }
  #hero .carousel-inner .item {
    padding: 0px 70px;
    &.slide1 img {
      margin-top: 0px;
    }

    &.slide2 img {
      margin-top: 40px;
    }
  }

  .navbar .nav .btn-header {
    background: #414A57;
    background: -moz-linear-gradient(top, #414a57 0%, #292f38 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #414a57), color-stop(100%, #292f38));
    background: -webkit-linear-gradient(top, #414a57 0%, #292f38 100%);
    background: -o-linear-gradient(top, #414a57 0%, #292f38 100%);
    background: -ms-linear-gradient(top, #414a57 0%, #292f38 100%);
    background: linear-gradient(to bottom, #414a57 0%, #292f38 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#414A57', endColorstr='#292f38',GradientType=0 );
    border: 1px solid #13161b;
    border-radius: 6px;
    display: inline-block;
    height: 10px;
    line-height: 8px;
    position: relative;
    top: 4px;
    margin-left: 8px;
    &:hover {
      background: #545F6D;
      background: -moz-linear-gradient(top, #545f6d 0%, #303946 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #545f6d), color-stop(100%, #303946));
      background: -webkit-linear-gradient(top, #545f6d 0%, #303946 100%);
      background: -o-linear-gradient(top, #545f6d 0%, #303946 100%);
      background: -ms-linear-gradient(top, #545f6d 0%, #303946 100%);
      background: linear-gradient(to bottom, #545f6d 0%, #303946 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#545F6D', endColorstr='#303946',GradientType=0 );
    }
  }
}

@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
  .section_header {
    margin-top: 60px;
    small {
      display: none;
    }
  }
  #pricing .price_wrapper {
    margin: 0 auto;
    margin-bottom: 20px !important;
  }

  .navbar .nav.pull-right {
      top: 0px;
  }

  .nav-collapse .nav > li > a {
    padding: 2px 15px;
  }

  #hero {
    .item h1 {
      font-size: 18px;
      line-height: 18px;
    }
    .carousel-inner .item.slide1 img {
      margin-top: 20px;
    }

    .carousel-inner .item.slide2 img {
      margin-top: 80px;
    }
  }
  #testimonials .phrases_wrapper .phrase .pic .position {
    display: block;
  }
  #footer {
    margin-top: 20px;
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  #intro h1 {
    width: 80%;
  }
  #features .feature {
    h3, p.description {
      padding-left: 0px;
    }
    .btn {
      margin-left: 0px;
    }
  }
  #pricing .price_wrapper {
    width: 240px !important;
    .header .price span {
      font-size: 25px;
    }
    &.pro {
      min-height: 400px;
      position: relative;
      top: -10px;
    }
    &.regular .header {
      background: url('../img/chart1_small.png') 0 0 no-repeat;
    }
    &.pro .header {
      background: url('../img/chart2_small.png') 0 0 no-repeat;
    }
  }
  #testimonials .phrases_wrapper {
    padding-left: 0px;
    padding-right: 0px;
    .phrase .span3 {
      margin-left: 30px;
      width: 228px;
    }
  }
  #footer .contact_us button[type="submit"] {
    margin-left: 0px;
  }
  #hero {
    .carousel-control {
      &.left {
        left: -55px;
      }
      &.right {
        right: -15px;
      }
    }
    .item .span4 {
      margin-left: 80px;
    }
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  #intro h1 {
    width: 90%;
  }
  #hero {
    padding: 50px 20px 20px 20px;
    margin-right: -20px;
    margin-left: -20px;
    height: auto;
    .carousel-inner .item {
      padding: 0px 70px;

      img, &.slide1 img, &.slide2 img {
        width: 240px;
        display: block;
        margin: 0 auto;
      }

      .btn {
        font-size: 13px;
        padding: 7px 10px;
      }
    }
  }
  #footer {
    margin-right: -20px;
    margin-left: -20px;
  }
  #features .feature {
    .btn {
      margin-top: 8px;
    }
    margin-bottom: 30px;
  }
  #testimonials .phrases_wrapper .phrase {
    > p {
      width: 100%;
      font-size: 18px;
    }
    .pic {
      float: left;
      margin-top: 8px;
      font-size: 13px;
    }
  }
  #footer {
    .container {
      padding: 0px 20px;
    }
    .copyright .copy {
      float: left;
      p {
        margin-top: 0px;
      }
    }
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  .section_header {
    margin-top: 30px;
    span {
      width: auto;
    }
  }
  #intro h1 {
    font-size: 22px;
    line-height: 30px;
  }
  #pricing .price_wrapper {
    width: 321px !important;
    .header .price span {
      font-size: 38px;
    }
  }
  #footer .contact_us button[type="submit"] {
    margin-left: 0px;
  }
}

/* Icons
-------------------------------------------------- */

.i_bars, .i_bookmark, .i_chart, .i_cloud, .i_facebook, .i_loading, .i_movil, .i_shuffle, .i_twitter, .i_youtube {
  background: url('../img/icons.png') no-repeat;
  display: inline-block;
}

.i_bars {
  background-position: 0 -303px;
  width: 18px;
  height: 16px;
}

.i_bookmark {
  background-position: 0 -253px;
  width: 18px;
  height: 13px;
}

.i_chart {
  background-position: 0 -49px;
  width: 22px;
  height: 24px;
}

.i_cloud {
  background-position: 0 0;
  width: 32px;
  height: 21px;
}

.i_facebook {
  background-position: 0 -401px;
  width: 12px;
  height: 24px;
}

.i_loading {
  background-position: 0 -202px;
  width: 21px;
  height: 14px;
}

.i_movil {
  background-position: 0 -99px;
  width: 17px;
  height: 25px;
}

.i_shuffle {
  background-position: 0 -151px;
  width: 18px;
  height: 12px;
}

.i_twitter {
  background-position: 0 -351px;
  width: 24px;
  height: 18px;
}

.i_youtube {
  background-position: 0 -452px;
  width: 24px;
  height: 23px;
}

/* Social icons
-------------------------------------------------- */

i {
  &.social {
    background: url('../img/social_icons.png') no-repeat 0 0;
    width: 33px;
    height: 33px;
    display: inline-block;
  }
  &.tw {
    background-position: 0px 0px;
  }
  &.fb {
    background-position: -39px 0;
  }
  &.flickr {
    background-position: -78px 0;
  }
  &.in {
    background-position: -117px 0;
  }
  &.gp {
    background-position: -156px 0;
  }
  &.pin {
    background-position: -195px 0;
  }
  &.tumblr {
    background-position: -233px 0;
  }
  &.wp {
    background-position: 0 -51px;
  }
  &.yt {
    background-position: -39px -51px;
  }
  &.vim {
    background-position: -78px -51px;
  }
  &.picasa {
    background-position: -116px -51px;
  }
  &.forrst {
    background-position: -156px -51px;
  }
  &.rss {
    background-position: -194px -51px;
  }
  &.myspace {
    background-position: -233px -51px;
  }
}

#faq {
  margin-bottom: 150px;
  .section_header {
    margin-top: 55px;
  }
  .faq {
    padding-left: 50px;
    position: relative;
    margin-bottom: 30px;
    &:hover {
      .number {
        background-color: #7fa662;
        color: #fff;
      }
      .question {
        color: #7fa662;
      }
    }
    .number {
      background-color: white;
      border-radius: 20px;
      color: #394350;
      position: absolute;
      left: 0px;
      padding: 5px 10px;
      font-weight: bold;
      font-size: 17px;
      top: -5px;
      transition: background-color 0.3s linear;
      -moz-transition: background-color 0.3s linear;
      -webkit-transition: background-color 0.3s linear;
      -o-transition: background-color 0.3s linear;
    }
    .question {
      color: #2c3339;
      font-weight: bold;
      font-size: 17px;
      cursor: pointer;
      transition: color 0.2s linear;
      -moz-transition: color 0.2s linear;
      -webkit-transition: color 0.2s linear;
      -o-transition: color 0.2s linear;
    }
    .answer {
      margin-top: 30px;
      margin-bottom: 60px;
      font-size: 15px;
      border-bottom: 1px solid #BEC0C3;
      padding-bottom: 35px;
      box-shadow: 0px 1px 1px 0px white;
      display: none;
    }
  }
}

#buzz {
  .buzz-piece {
    padding-top: 2em;
    h4 {
      margin-top: 0;
    }
  }

  .post {
    padding-top: 2em;

    .span8 {
      // Ahh perfectly alright.
      width: auto;
    }

    .info {
      h3 {
        font-size: 18px;
        line-height: 20px;
        margin-top: 0px;
      }
    }
    .date {
      margin-top: -8px;
      font-size: 12px;
      color: #666;
    }
  }
}

body.folder-learn, body.folder-blog
{
  background: white;

  .section_header hr {
    border-bottom: 2px solid #eee;
  }
  .blog_post .post_content {
    border-bottom: 1px solid #C0C1C3;
    box-shadow: none;
  }

  #rss_link {
    padding-top: 3px;
    color: #444;
    vertical-align: middle;

    img {
      padding-right: 4px;
      vertical-align: middle;
    }
  }
}

// While invidual blog pages have a white background, for readability, we want the regular background for
// index pages.
body.file-index-html.folder-blog, body.folder-blog-tags
{
  background: white url(../img/furley_bg.png) repeat left top;
}

figure {
  text-align: center;
}

.learn {
  ul.nav {
    li a {
      background: white;
    }
    li.active a {
      color: white;
      background: #08C;
    }
  }

  .text-body {
    margin-top: -20px;
  }

  .learn-nav {
    margin-top: 80px;
  }
}

body.file-demos-html .learn {
  .text-body {
    h4 {
      margin-top: 2em;
    }

    a.btn {
      margin-right: 10px;
    }
  }
}

#downloads {
  .starter {
    margin-top: 2em;
    margin-bottom: 1em;
    line-height: 15px;
    img {
      margin-top: -2px;
      margin-right: 10px;
    }
  }

  ul {
    margin: 0;
  }
  ul.download-links li {
    display: inline;
    margin-right: 1em;
  }

  pre {
    clear: both;
  }
}

#archive-section {
  h6 {
    display: inline;
  }

  table {
    margin-top: 2em;
    width: auto;
    th {
      vertical-align: middle;
    }
  }

  a.btn, a.btn-primary {
    min-width: 180px;
    text-align: left;
    margin-right: 10px;
    i {
      margin-top: 2px;
    }
  }
}

#aristo-section {
  h3 {
    text-align: center;
    color: #394350;
    font-size: 17px;
    line-height: 30px;
    font-weight: normal;
  }
  img.splash {
    border: 3px solid #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 1px #bcbcbc;
    display: block;
    margin: 0 auto;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
  }
}


// When jumping to an in page anchor, move it up from its actual position so that the page header doesn't cover the top of the jumped to content.
h1 a[name],
h2 a[name],
h3 a[name],
h4 a[name],
h5 a[name],
h6 a[name] {
  visibility: hidden;
  position: relative;
  top: -175px;
}

#footer {
  .forkme p {
    margin-top: 20px;
    text-align: center;

    a, a:visited {
      color: white;
    }
  }

  .copyright2 {
    font-size: 12px;
    color: #999;
    text-align: center;
    margin-top: 21px;

    a, a:visited {
      color: #bbb;
    }

    img {
      padding-top: 2px;
      padding-left: 2px;
      padding-right: 2px;
      vertical-align: top;
    }
  }

  .links, .stats {
    a {
      display: block;
    }
    h4 {
      font-size: 17px;
      margin-top: 0;
    }
  }
}

@import "pygments_style";
@import "blog";

