---
pageable: true
per_page: 10
layout: blog
---

%h1.header
  %span Blog
  %hr
- page_articles.each do |current_article|
  = partial :blog_article_list_format, :locals => { :current_article => current_article }

= partial :blog_pagination, :locals => { :prev_page => prev_page, :page_number => page_number, :num_pages => num_pages, :next_page => next_page }
