.span3.sidebar.offset1
  %form#cse-search-box{:action => "http://google.com/cse"}
    %input{:name => "cx", :type => "hidden", :value => "003886841673136914364:g4k5gxiukag"}/
    %input{:name => "ie", :type => "hidden", :value => "UTF-8"}/
    %input.input-large.search-query{:placeholder => "Search", :name => "q", :size => "31", :type => "text"}/
    / %input.btn{:name => "sa", :type => "submit", :value => "Search"}/

  %h4.sidebar_header
    Recent posts
  %ul.recent_posts
    - blog.articles[0...5].each do |current_article|
      %li
        %a{:href => current_article.url}= current_article.title
  %h4.sidebar_header
    Tags
  %ul.tags
    - blog.tags.each do |tag, articles|
      %li
        %a{:href => (tag_path tag)}= tag
