.span3.sidebar.offset1
  %input.input-large.search-query{:placeholder => "Search", :type => "text"}
  %h4.sidebar_header
    Menu
  %ul.sidebar_menu
    %li
      %a{:href => "#"} Suspendisse Semper Ipsum
  %h4.sidebar_header
    Recent posts
  %ul.recent_posts
    %li
      .row
        .span1
          %a{:href => "blog-post.html"}
            %img.thumb{:alt => "thumb post", :src => "img/pic_blog.png"}/
        .span2
          %a.link{:href => "blog-post.html"} Suspendisse Semper Ipsum
    %li
      .row
        .span1
          %a{:href => "blog-post.html"}
            %img.thumb{:alt => "thumb post", :src => "img/pic_blog.png"}/
        .span2
          %a.link{:href => "blog-post.html"} Maecenas Euismod Elit
    %li
      .row
        .span1
          %a{:href => "blog-post.html"}
            %img.thumb{:alt => "thumb post", :src => "img/pic_blog.png"}/
        .span2
          %a.link{:href => "blog-post.html"} Suspendisse Semper Ipsum