#downloads
  .container
    %h2.section_header
      %hr.left.visible-desktop
        %span
          Download
        %a{:name=>'download'} &nbsp;

        %hr.right.visible-desktop
    .row
      .offset1.span3
        %img{:alt => "Box", :src => "img/download-box.png"}
      .offset1.span6
        .row
          .span6
            %h3 Latest Version: 0.9.8 (March 29 2015)
        .row
          .span6
            %a.btn.btn-primary.btn-large.starter{:style=>'margin-right: 20px;', :href => "/downloads/CappuccinoStarter-0.9.8.zip"}
              %img{:alt => "Cloud", :src => "img/white-cloud.png"}
              Starter Package
        .row
          .span6
            %ul.download-links
              %li
                %a{:href=>"https://github.com/cappuccino/cappuccino/commits/v0.9.8"}
                  Source Code
              %li
                %a.scroller{:href => "/downloads.html#archive"}
                  Older Versions

    .row
      .span12
        %p
          Beyond the starter pack, Cappuccino comes with a number of tools to make it easy to create new applications. With or without the starter pack, you can install all of Cappuccino and accompanying tools with the following command:
        %pre
          %code
            curl https://raw.githubusercontent.com/cappuccino/cappuccino/v0.9.8/bootstrap.sh >/tmp/cb.sh &amp;&amp; bash /tmp/cb.sh

#what-next
  .container
    %h2.section_header
      %hr.left.visible-desktop
      %span
        What Next?
      %hr.right.visible-desktop
    .row
      .span12
        :markdown
          Your download includes a README file with a few quick tips on how to get started.

          You'll also probably want to check out our [tutorials section](/learn/). The [get started](/learn/starter.html) one is designed specifically for figuring out what to do the very first time you download Cappuccino.

    .row
      .span12
        %h3 Getting the Source

        %p
          If you'd like the full source, you can check it out from our GitHub repository, or clone it with this command:

          %pre
            %code
              git clone git://github.com/cappuccino/cappuccino.git

        %p
          Learn more about
          = link_to "contributing.", "/contribute.html"
