---
---

= partial :main_download

#archive-section
  .container
    %h2.section_header
      %hr.left.visible-desktop
        %span
          Archive
          %a{:name=>'archive'} &nbsp;
        %hr.right.visible-desktop

    Looking for older versions of Cappuccino? You can find many older releases below.

    %table.table
      - data.downloads.archive.each_pair do |date, files|
        %tr
          %th
            %h6
              = date.strftime('%b %d, %Y')
          %td
            - files.each_with_index do |file, i|
              %a{:href => file[1], :class => i == 0 ? "btn btn-primary" : "btn"}
                %i.icon-download{:class => i == 0 ? "icon-white" : ""}
                = file[0]
